h2  {
    font-family: Arial, Helvetica, sans-serif
}

label  {
    font-family: Arial, Helvetica, sans-serif
}

.authors {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;   
    font-family: Arial, Helvetica, sans-serif;
}

.authors li {
    position: relative;
    cursor: pointer;
    color: #607D8B;
    background-color: #eee;
    margin: .5em;
    padding: .3em 0;
    border-radius: 4px;
}

.authors li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.authors a {
    color: #232323;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
}

.authors a:hover {
    color:#232323;
}

button {
    background-color: #EEE;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}

button:hover {
    background-color: #DDD;
}

button.delete {
    position: relative;
    left: 300px;
    top: -17px;
    background-color: gray !important;
    color: white;
}
button.delete:hover{
    background-color: rgb(78, 78, 78) !important;
    color: white;
}